@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #0f292fce; */
  background-image: linear-gradient(
    to right,
    #474d5a,
    #424855,
    #3d434f,
    #383e4a,
    #333945,
    #333945,
    #333945,
    #333945,
    #383e4a,
    #3d434f,
    #424855,
    #474d5a
  );
  position: relative;
  font-family: "Gideon Roman", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Gideon Roman", cursive;
  color: white;
  letter-spacing: 0.08em;
  text-shadow: 4px 4px 3px rgb(0 0 0 / 20%);
}
.section {
  display: flex;
  align-items: center;
}

.speed,
.time,
.accuracy,
.char,
.error {
  height: 100px;
  width: 155px;
  background-color: #474d5a;
  color: white;
  margin: 19px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.094em;
  text-shadow: 4px 4px 3px rgb(0 0 0 / 20%);
}

.text,.current_speed,
.current_time,
.current_accuracy,
.current_cpm,
.current_error{
  font-weight: 900;
  font-size: 1.5rem;
}

 
.char,
.speed {
  display: none;
}
.start {
  background-color: #00c9b7;
  font-size: 1.7rem;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.349);
  text-shadow: 4px 4px 3px rgb(0 0 0 / 20%);
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  display: none;
  background-color: #00c9b7;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.349);
  text-shadow: 4px 4px 3px rgb(0 0 0 / 20%);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  word-wrap: break-word;

}
.text_Area {
  background-color: rgba(189, 189, 189, 0.1);
  height: 200px;
  width: 70vw;
  font-size: 1.5rem;
  margin: 20px;
  padding: 12px;
  color: white;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.349);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.btn {
  display: none;
  background-color: #00c9b7;
  font-size: 1.6rem;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.349);
  text-shadow: 4px 4px 3px rgb(0 0 0 / 20%);
  width: 180px;
  height: 50px;
  font-family: "Gideon Roman", cursive;
  position: relative;
  
}
.adjustment{
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.wrong_char {
  color: rgb(255, 0, 0);
  text-decoration: line-through;
}

.right_char {
  color: rgb(5, 119, 5);
}


@media (max-width: 300px) {
  .head {
    margin-bottom: 9px;
    font-size: 1.7rem;
  }
  .text,.current_speed,
.current_time,
.current_accuracy,
.current_cpm,
.current_error {
    font-size: 0.7rem;
  }
  .speed,
  .time,
  .accuracy,
  .char,
  .error {
    height: 45px;
    width: 70px;
    margin: 9px;
    padding: 8px;
    border-radius: 12px;
  }
  .text_Area {
    height: 100px;
    font-size: 0.7rem;
    border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  }
  #start {
    font-size: 0.7rem;
  }
  .start {
    font-size: 1rem;
    width: 90px;
    height: 20px;
  }
  .btn {
    font-size: 0.8rem;
    width: 90px;
    height: 20px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .head {
    margin-bottom: 10px;
    font-size: 2rem;
  }
  .text,.current_speed,
.current_time,
.current_accuracy,
.current_cpm,
.current_error {
    font-size: 0.7rem;
  }
  .speed,
  .time,
  .accuracy,
  .char,
  .error {
    height: 50px;
    width: 80px;
    margin: 10px;
    padding: 8px;
    border-radius: 12px;
  }
  .text_Area {
    height: 115px;
    font-size: 0.7rem;
    border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  }
  .start {
    font-size: 1.2rem;
    margin: 9px;
    padding: 9px;
    width: 110px;
    height: 30px;
  }
  .btn {
    font-size: 1.1rem;
    margin: 9px;
    padding: 9px;
    width: 110px;
    height: 30px;
  }
  #start {
    font-size: 0.8rem;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .head {
    margin-bottom: 15px;
    font-size: 2.2rem;
  }
  .text,.current_speed,
.current_time,
.current_accuracy,
.current_cpm,
.current_error {
    font-size: 1rem;
  }
  .speed,
  .time,
  .accuracy,
  .char,
  .error {
    height: 60px;
    width: 100px;
    margin: 12px;
    padding: 10px;
    border-radius: 12px;
  }
  .text_Area {
    height: 130px;
    font-size: 1rem;
    border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  }
  .start {
    font-size: 1.3rem;
    margin: 9px;
    padding: 9px;
    width: 120px;
    height: 35px;
  }
  .btn {
    font-size: 1.2rem;
    margin: 9px;
    padding: 9px;
    width: 120px;
    height: 35px;
  }
  #start {
    font-size: 1rem;
  }

}
@media (min-width: 600px) and (max-width: 800px) {
  .head {
    margin-bottom: 18px;
    font-size: 2.7rem;
  }
  .text,.current_speed,
.current_time,
.current_accuracy,
.current_cpm,
.current_error {
    font-size: 1.2rem;
  }
  .speed,
  .time,
  .accuracy,
  .char,
  .error {
    height: 70px;
    width: 112px;
    margin: 13px;
    padding: 12px;
    border-radius: 14px;
  }
  .text_Area {
    height: 150px;
    font-size: 1.2rem;
    border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  .start {
    font-size: 1.4rem;
    margin: 9px;
    padding: 9px;
    width: 140px;
    height: 35px;
  }
  .btn {
    font-size: 1.3rem;
    margin: 9px;
    padding: 9px;
    width: 140px;
    height: 35px;
  }
  #start {
    font-size: 1.2rem;
  }
 
  
}
@media (min-width: 800px) and (max-width: 1000px) {
  .head {
    margin-bottom: 20px;
    font-size: 3rem;
  }
  .text,.current_speed,
.current_time,
.current_accuracy,
.current_cpm,
.current_error {
    font-size: 1.3rem;
  }
  .speed,
.time,
.accuracy,
.char,
.error {
  height: 80px;
  width: 125px;
  margin: 15px;
  padding: 13px;
  border-radius: 16px;
}
.text_Area {
  height: 170px;
  font-size: 1.3rem;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.start {
  font-size: 1.5rem;
  margin: 9px;
  padding: 9px;
  width: 160px;
  height: 40px;
}
.btn {
  font-size: 1.4rem;
  margin: 9px;
  padding: 9px;
  width: 160px;
  height: 40px;
}
#start {
  font-size: 1.4rem;
}
  
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .head {
    margin-bottom: 20px;
    font-size: 3.5rem;
  }
  .text,.current_speed,
.current_time,
.current_accuracy,
.current_cpm,
.current_error {
    font-size: 1.4rem;
  }
  .speed,
.time,
.accuracy,
.char,
.error {
  height: 90px;
  width: 140px;
  margin: 17px;
  padding: 14px;
  border-radius: 18px;
}
.text_Area {
  height: 180px;
  font-size: 1.4rem;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.start {
  font-size: 1.6rem;
  margin: 9px;
  padding: 9px;
  width: 170px;
  height: 45px;
}
.btn {
  font-size: 1.5rem;
  margin: 9px;
  padding: 9px;
  width: 170px;
  height: 45px;
}
#start {
  font-size: 1.6rem;
}
}
